@{
    ViewBag.Title = "Help";
}
<style>
    #navAboutUs {
        background-color: aliceblue;
    }

    .jumbotron {
        margin-top: 1rem;
    }
</style>

<div class="jumbotron">
    <h1 class="display-4">About Us!</h1>
    <p class="lead">Luxury is not often seen in the world of theatre, people just leave with what they get. We aspire to give you that luxury.</p>
    <hr class="my-4">
    <p>
        The family of SFC Movies has entertained the movie watching community in Bangalore for nearly five decades by building several
        theatres in the city and innovating them as newer theatrical technologies emerged and turned into the mainstay of the movie
        watching experience.
    </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    <hr />
    <h3>Address</h3>
    <address>
        No.318, Kamakshipalya
        <br />
        Magadi Main Road
        <br />
        Bangalore 560 079
        <br />
        <abbr title="Phone">Phone:</abbr>
        080-23486997
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:facebook.com">Facebook</a><br />
        <strong>Marketing:</strong> <a href="mailto:twitter.com">Twitter</a>
    </address>
</div>

