@{
    ViewBag.Title = "Contact";
}
<br />
<h2>Contact Us!</h2>
<hr />

<div class="form-custom" id="cus">
    <form action="#" method="post">
        <label for="name">Name</label>
        <div>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name">
        </div>
        <br />
        <label for="name">Email</label>
        <div><input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email"></div>
        <br />
        <label for="name">Phone</label>
        <div><input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number"></div>
        <br />
        <label for="desc">How May We Help You?</label>
        <div><textarea class="form-control" id="desc" name="desc" cols="22" rows="5"></textarea></div>
        <br />
        <div class="button">
            <input type="submit" value="Submit" class="btn btn-success">
        </div>
    </form>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5088.027060165438!2d77.5743316141518!3d12.961971854898561!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15e47e407a67%3A0xd28de5395ac39607!2sOm%20Shri%20Sai%20PG%20For%20Men!5e0!3m2!1sen!2sin!4v1670576789010!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>